[Desktop Entry]
Version=2.0
Name=Menu
Comment=Menu for Openbox
Path=/home/$USER/.local/share/plank
Exec=python ./menu_plank_openbox.py
Icon=/home/$USER/.local/share/icons/arch.png
Terminal=false
Type=Application
MimeType=x-scheme-handler/tg;

